# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
venv/

# Build / Dist
build/
dist/
*.spec
!MultiPortChecker.spec

# Local application data
mpc_config.json
p.json
list.json
events.db

# VS Code
.vscode/
